*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: black;
}
.container{

    display: flex;
  min-height: 100vh; 
    justify-content:center;
    align-items: center;
    color: white;
    gap: 20vw;
    text-align: center;
    gap: 10vh;
    font-family: cursive;
    
}
.portfolio{
    width: 50vw;
    text-align: center;
    flex-basis: 30%;
}
.gallery{
    width: 50vw;
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;
    gap: 5px;

    
}
.img{
    filter: grayscale(100%);
    background-size: cover;
}
