*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: black;
}
.container{

    display: flex;
  min-height: 100vh; 
    justify-content:center;
    align-items: center;
    color: white;
    gap: 20vw;
    text-align: center;
    gap: 10vh;
    font-family: cursive;
    
}
.portfolio{
    width: 50vw;
    text-align: center;
    flex-basis: 30%;
}
.gallery{
    width: 50vw;
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;
    gap: 5px;

    
}
.img{
    filter: grayscale(10%);
    background-size: cover;
    filter: grayscale(100);
}

.navbar{
    background-color: yellow;
    width: 100vw;
    height: 100px;
    display: flex;

}
ul,li{
    color: white;
display: inline-flex;
}

@media (max-width:720px){
.container{
    flex-direction: column;
    width: 100%;

}
.gallery{
    width: 100%;
}
}

@media (max-width:520px){
.container{
    flex-direction: column;
    width: 100%;

}
.gallery{
    width: 100vw;
    display: flex;
    flex-direction: column;
   

    
}
.img{
    height: 200px;
    background-size: cover;
    filter: contrast(200%)
}
}